#background {
    background-image: url(photo-15.avif);
    opacity: transparent;
    background-color:white;
  }
  
  
  .header {
    text-align: center;
  }
  
  .header img {
    border-radius: 50%;
    height: 250px;
  }
  
  .container {
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: grey;
      font-size: 20px;
    }
  
   h1 {
    font: bold;
    color: rgb(65, 64, 64);
    font-size: 35px;
    font-family: monospace;
   } 
  
   span {
    color: red;
   }
  
  
  
  
  
   