
  .header {
    text-align: center;
  }
  
  .header img {
    border-radius: 50%;
    height: 250px;
  }
  
  .container {
      text-align: center;
      font-family: 'Cairo';
      color: grey;
      font-size: 20px;
    }
  
   h1 {
    font: bold;
    color: rgb(65, 64, 64);
    font-size: 35px;
    font-family: monospace;
   } 
  
   span {
    color: red;
   }
  
  h1 {
    position: relative;
    font-size: 5rem;
  }

  h1{
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 50px;
    margin: 10px 0;
  }
  
  h3{
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    font-size: 50px;
    margin: 10px 0;
  }


  html {
    block-size: 100%;
    inline-size: 100%;
  }
  
  body {
    min-block-size: 100%;
    min-inline-size: 100%;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-family: system-ui, sans-serif;
  }
  
  @media (orientation: landscape) {
    body {
      grid-auto-flow: column;
    }
  }
  
  /****beating heart****/
.wrap img {
  max-width:50px;
  margin:20px auto;
  -webkit-animation-name: pulse; 
  -webkit-animation-duration: 1.1s; 
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
    opacity: 0.95;
  }
  50% {
    -webkit-transform: scale(1.3);
    opacity: 1.0;
  }
  to { 
    -webkit-transform: scale(1.0);
    opacity: 0.95;
  }
}
 /****beating heart****/

 .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.image-container {
  display: flex;
  align-items: center;
}

img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
